app/src/main/assets/formatModelFile.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="xml" type="xmlType"/>
    <xs:complexType name="rowType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name" use="optional"/>
                <xs:attribute type="xs:string" name="type" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="modelType">
        <xs:sequence>
            <xs:element type="rowType" name="row" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="xmlType">
        <xs:sequence>
            <xs:element type="modelType" name="model"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>

